<h1>Cart</h1>

<!--Update the template with a header ("Cart"), and use a
  <div> with an
  *ngFor to display each of the cart items with its
  name and price.-->

<p>
  <a routerLink="/shipping">Shipping Prices</a>
</p>

<div class="cart-item" *ngFor='let item of items'>
  <span>{{item.name}}</span>
  <span>{{item.price | currency}}</span>
</div>

<!--<form>
  <button class="button" type="submit">Purchase</button>
</form>-->
<!--
Error: Template parse errors:
No provider for ControlContainer
-->

<!-- On the form tag, use an
ngSubmit
event binding to
listen for the form submission and
call the onSubmit() method with the
checkoutForm value. -->
<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">

  <div>
    <label for="name">
      Name
    </label>
    <input id="name" type="text">
  </div>

  <div>
    <label for="address">
      Name
    </label>
    <input id="address" type="text">
  </div>

  <button class="button" type="submit">Purchase</button>
  
</form>
