<h2>Products</h2>

<!--
Each product in the list displays the same way, one after another on the page.
  To iterate over the predefined list of products, put the *ngFor directive on a <div>

With *ngFor, the <div> repeats for each product in the list.

*ngFor is a "structural directive".
Structural directives shape or reshape the DOM's structure,
typically by adding, removing, and manipulating the elements to which they are attached.

Any directive with an asterisk, *, is a structural directive.
-->

<div *ngFor="let product of products">

  <!--
  To display the names of the products,
    use the interpolation syntax {{ }}.

  Interpolation renders a property's value as text
    -->

  <h3>

    <!--    To make each product name a link to product details,
        add the <a> element and set its title to be the
        product's name by using the
        property binding [ ] syntax-->

    <!-- Interpolation {{ }} lets you
     render the
     property value as text;

     property binding [ ] lets you use the
     property value in a
     template expression.-->

    <!--

        <a [title]="product.name + ' details'">

          {{ product.name}}

        </a>
    -->

    <!--    Define a link using the
        RouterLink
        directive.

        The routerLink defines how the user
        navigates to the
        route (or URL) declaratively in the component template.-->

    <a [title]="product.name + ' details'" [routerLink]="['/products', productId]">

      {{ product.name}}

    </a>

  </h3>

  <!--On the <p> element, use an
  *ngIf directive so that Angular only creates the <p> element
  if the current product has a description.-->

  <p *ngIf="product.description">
    Description: {{ product.description }}
  </p>

  <!--  Add a button so users can share a product with friends. Bind the
    button's click
    event
    to the share() method (in product-list.component.ts).

    Event binding uses a set of parentheses,
    ( ),
    around the event-->

  <button (click)="share()">
    share
  </button>

  <!--  Display the new product alert component as a child of the product list.

    To include the
    new component, use its
    selector, app-product-alert, as you would an HTML element.

    Pass the current product as
    input
    to the component using
    property binding.-->

  <!--  <app-product-alerts
      [product]="product">
    </app-product-alerts>-->

  <!--  Finally, update the product
    list
    component to receive
    output from the product
    alerts
    component.

    In product-
    list.component.html,
    bind the app-product
    -alerts component (which is
    what displays the "Notify Me" button)
    to the onNotify() method of the product
    list component.-->

  <app-product-alerts
    [product]="product"
    (notify)="onNotify()"
  >
  </app-product-alerts>


</div>
